<main>
  <h1>HolidayRentings#new</h1>
  <p>Find me in app/views/holiday_rentings/new.html.erb</p>
  <section class="form-create">
    <%= simple_form_for @annonce do |f| %>
      <%= f.input :titre %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :zip_code %>
      <%= f.input :website %>
      <%= f.button :submit %>
    <% end %>
  </section>
</main>

