<main>
  <h1>Ajouter votre location de vacances</h1>
  <section class="form-create">
    <%= simple_form_for @annonce do |f| %>
      <div class="first">
        <%= f.input :titre %>
        <%= f.input :description %>
      </div>
      <div class="second">
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :zip_code %>
      </div>
      <div class="third">
        <%= f.input :website %>
      </div>
      <%= f.button :submit, value: "Confirmer" %>
    <% end %>
  </section>
</main>

