
<main id="rentings">
  <% @markers.push({:lat=>Renting::CURE_NIEDERBRONN[0], :lng=>Renting::CURE_NIEDERBRONN[1]}) %>
  <article>
    <section class="header-landing">
      <div>
        <h1>Locations pour cure thermale<br> à Niederbronn-les-Bains</h1>
        <p>Trouver une <strong>location pour votre séjour en cure thermale à Niederbronn-les-Bains</strong>. Les hébergements proposés, de tout type, ont été pensé pour les longs séjours des curistes, à bonne distance de l'établissement de cure. Chaque <strong>location de vacances</strong> permet aux <strong>curistes</strong> de profiter de leur séjour thermal mais également de profiter des attraits touristiques de la région.</p>
      </div>
      <%= image_tag "home/thermes.jpg", alt: "établissement de cure thermale de Niederbronn-les-bains en Alsace", crop: :fill %>
    </section>

    <aside class="selects-rentings cure">
      <%= form_for(:cure_options, url: location_niederbronn_landing_pages_path, method: :get, html: {id: 'random_id'}) do |f| %>
        <%= hidden_field_tag(:url_from, params[:action]) %>
        <% if !params[:cure_options].nil? && params[:cure_options][:start_date] != "" %>
          <%= f.date_field :start_date, as: :date, html5: true, label: false, input_html: { class: 'occuped',
            value: params[:cure_options][:start_date] }  %>
        <% else %>
          <%= f.date_field :start_date, as: :date, html5: true, label: false %>
        <% end %>
        <% if !params[:cure_options].nil? && params[:cure_options][:end_date] != "" %>
          <%= f.date_field :end_date, as: :date, html5: true, label: false, input_html: { class: 'occuped',
            value: params[:cure_options][:end_date] }  %>
        <% else %>
          <%= f.date_field :end_date, as: :date, html5: true, label: false %>
        <% end %>
        <% if !params[:cure_options].nil? && params[:cure_options][:capacity] != "" %>
          <%= f.number_field :capacity, min_max: true, label: false, placeholder: "Nombre de personne", input_html: { class: 'occuped', value: params[:cure_options][:capacity] } %>
        <% else %>
          <%= f.number_field :capacity, min_max: true, label: false, placeholder: "Nombre de personne" %>
        <% end %>
        <% if !params[:cure_options].nil? && params[:cure_options][:tarif] != "" %>
          <%= f.number_field :tarif, as: :integer, label: false, placeholder: "Tarif max", input_html: { class: 'occuped', value: params[:cure_options][:tarif] } %>
        <% else %>
          <%= f.number_field :tarif, as: :integer, label: false, placeholder: "Tarif max" %>
        <% end %>
        <%= submit_tag("Appliquer les filtres !") %>
      <% end %>

    </aside>

    <div id="renting-map">
      <section class="cards-renting">
        <%= render partial: 'rentings/loc_niederbronn', locals: {annonces: @annonces } %>
      </section>
      <section>
        <div id="map"
         style="width: 80%; height: 600px; margin: auto;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
         </div>
      </section>
    </div>
  </article>
</main>
<%= javascript_pack_tag "map" %>
