
<main id="rentings">
  <% @markers.push({:lat=>Renting::CURE_NIEDERBRONN[0], :lng=>Renting::CURE_NIEDERBRONN[1]}) %>
  <article>
    <section class="header-landing">
      <div>
        <h1>Locations pour cure thermale<br> à Niederbronn-les-Bains</h1>
        <p>Trouver une <strong>location pour votre séjour en cure thermale à Niederbronn-les-Bains</strong>. Les hébergements proposés, de tout type, ont été pensé pour les longs séjours des curistes, à bonne distance de l'établissement de cure. Chaque <strong>location de vacances</strong> permet aux <strong>curistes</strong> de profiter de leur séjour thermal mais également de profiter des attraits touristiques de la région.</p>
      </div>
      <%= image_tag "home/thermes.jpg", alt: "établissement de cure thermale de Niederbronn-les-bains en Alsace", crop: :fill %>
    </section>

    <aside class="selects-rentings">
      <%= link_to "Tous", location_niederbronn_landing_pages_path(:rent => "all") %>
      <%= simple_form_for :cure_date, { url: location_niederbronn_landing_pages_path } do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.button :submit, "Envoyer" %>
      <% end %>
    </aside>

    <div id="renting-map">
      <section class="cards-renting">
        <%= render partial: 'rentings/rentings', locals: {annonces: @annonces } %>
      </section>
      <section>
        <div id="map"
         style="width: 80%; height: 600px; margin: auto;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
         </div>
      </section>
    </div>
  </article>
</main>
<%= javascript_pack_tag "map" %>
