<% title "#{}" %>
<% description "#{}" %>
<article class="article">
  <h1><span class= <%= color %> ><%= categorie.titleize %></span></h1>
  <div class="breadcrumb">
    <%= render_breadcrumbs :separator => '<span>/</span>' %>
  </div>
  <p class="entete"><%= text %></p>
  <section class="articles-list">
    <ul>
      <% @posts.each do |post| %>
        <li><%= link_to blog_post_path(post) do %>
          <p><%= post.titre %></p>
          <p><%= post.custom_date.strftime("%d/%m/%y") %></p>
        <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</article>
