<% title "Le blog du pays de Niederbronn-les-Bains - actualités, études, think thank" %>
<% description "Accéder aux dernières actualités, études, idées dans le tourisme et la vie économique et locales" %>
<% set_meta_tags canonical: "https://www.paysniederbronn.fr/blog" %>
<main class="blog">
  <aside>
    <nav id="nav-blog">
      <ul class="articles-list">
        <li><%= link_to 'Thermalisme', thermalisme_blog_posts_path %></li>
        <li><%= link_to 'Actualités', actualites_blog_posts_path %></li>
      </ul>
    </nav>
  </aside>
  <article class="article">
    <h1>Le Blog</h1>

    <section class="articles-list">
      <ul>
        <% @posts.each do |post| %>
          <%= link_to blog_post_path(post) do %>
            <li>
              <p><%= post.titre %></p>
              <p><%= post.custom_date.strftime("%d/%m/%y") %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </article>
</main>
