<main>
  <article class="article">
    <header>
      <h1>Article</h1>
    </header>
    <section class="form">
      <%= simple_form_for @post do |f| %>

        <%= f.input :title, label: 'Title' %>
        <%= f.input :description, label: 'Meta description' %>
        <%= f.input :titre, label: 'Titre <h1>' %>
        <%= f.input :summary, label: "Résumé",:input_html => {:rows => 3} %>

        <%= f.input :content, label: 'Contenu',:input_html => {:rows => 20} %>
        <%= f.collection_select :author_blog, AuthorBlog.all, :id, :first_name %>
        <%= f.association :blog_categories, collection: BlogCategory.order(:name), label: false, as: :check_boxes %>
        <%= f.file_field :photos, multiple: true, direct_upload: true %>
        <%= f.submit "Créer l'article", class: '' %>
      <% end %>
    </section>
  </article>
</main>
