<% title "#{@post.title}" %>
<% description "#{@post.description}" %>
<% if @post.published == false %>
  <% noindex %>
<% end %>
<article class="article">
  <header>
    <h1><%= @post.titre %></h1>
  </header>

    <section class="content">
      <p><%= @post.content.html_safe %></p>
    </section>
    <section class="post-categories">
      <% @post.blog_categories.each do |cat| %>
        <span>#<%= cat.name %></span>
      <% end %>
    </section>
    <p class="author"><%= @author.first_name %> <%= @author.last_name.capitalize %></p>
    <p class="date">
      <%= @post.custom_date.strftime("%d/%m/%y") %>
    </p>
    <div class="breadcrumb">
      <%= render_breadcrumbs :separator => '<span>/</span>' %>
    </div>
</article>
