<% title "#{@post.title}" %>
<% description "#{@post.description}" %>
<% if @post.published == false %>
  <% noindex %>
<% end %>
<article class="article">
  <header>
    <h1><%= @post.titre %></h1>
  </header>

    <section class="content">
      <p><%= @post.content.html_safe %></p>
    </section>
    <% if !@post.link_left.blank? && !@post.link_right.blank? %>
      <section class="linksblog">
        <%= link_to "gauche", "#{@post.link_left}", target: "_blank", class: "linkblog left" %>
        <%= link_to "droite", "#{@post.link_right}", target: "_blank", class: "linkblog right" %>
      </section>
    <% end %>
    <section class="post-categories">
      <% @post.blog_categories.each do |cat| %>
        <span>#<%= cat.name %></span>
      <% end %>
    </section>
    <span class="author"><%= @author.first_name %> <%= @author.last_name.capitalize %></span>
    <span class="date">
      <%= @post.custom_date.strftime("%d/%m/%y") %>
    </span>
    <div class="breadcrumb">
      <%= render_breadcrumbs :separator => '<span>/</span>' %>
    </div>
</article>
