<% title "#{@post.title}" %>
<% description "#{@post.description}" %>
<% if @post.published == false %>
  <% noindex %>
<% end %>
<article class="article">
  <header>
    <h1><%= @post.titre %></h1>
  </header>

  <section class="content">
    <%= @post.content.html_safe %>
  </section>
  <section class="post-categories">
    <% @post.blog_categories.each do |cat| %>
      <span>#<%= cat.name %></span>
    <% end %>
  </section>
  <span class="author"><%= @author.first_name %> <%= @author.last_name.capitalize %></span>
  <span class="date">
    <%= @post.custom_date.strftime("%d/%m/%y") %>
  </span>
  <% if !@post.link_left.blank? && !@post.link_right.blank? %>
    <section class="linksblog">
      <%= link_to "#{@left}", "#{@post.link_left}", class: "linkblog left" %>
      <%= link_to "#{@right}", "#{@post.link_right}", class: "linkblog right" %>
    </section>
  <% end %>
  <div class="breadcrumb">
    <%= render_breadcrumbs :separator => '<span>/</span>' %>
  </div>
</article>
