<footer id="footer">
  <%= link_to "simulateur taxe de sejour", simulateur_path, rel: "nofollow" %>
  <%= link_to 'créer une facture', taxe_invoice_path(), rel: "nofollow" %>
  <%= link_to "mentions legales", mentions_path, rel: "nofollow" %>
  <% if locale == :fr && params[:controller] != "blog_posts" %>
    <%= link_to "le blog", blog_posts_path %>
  <% else %>
    <%= link_to "Pays de Niederbronn", root_path %>
  <% end %>
  <!--
    <div class="annuaire">
      <a href="http://www.abc-du-gratuit.com/" target="_blank" title="Annuaire">Annuaire Gratuit</a>
      <a href="https://www.alsace-premier.com" title="Annuaire Alsace" target="_blank">Annuaire Alsace</a>
      <a href="https://annuaire.swcf.fr" title="Annuaire Alsace" target="_blank">Annuaire swcf</a>
    </div>
  -->
</footer>
