<nav class="nav">
  <div>
    <div>
      <ul>
        <li><%= link_to t('links.home'), root_path %></li>
        <li><%= link_to t('links.se_loger'), rentings_path %></li>
        <li><%= link_to t('links.alentours'), alentours_path %></li>
        <li><%= link_to t('links.contact'), contact_path %></li>
        <li><%= link_to t('Blog'), blog_posts_path, rel: "follow" %></li>
        <li class=""><a href="#"><i class="fas fa-user-circle"></i></a>
          <ul class="dropdown">
            <li><a href="#">Se connecter</a></li>
            <li><a href="#">Créer une facture</a></li>
            <li><a href="#">Simulateur de taxe</a></li>
            <li><%= link_to "Poster une annonce",new_renting_path, class: "button create", rel: "nofollow" %></li>
            <li><a href="#">Compte</a></li>
          </ul>

        </li>
      </ul>
    </div>
    <% if params[:controller] != "blog_posts" %>
      <%= render 'shared/lang_nav' %>
    <% else %>
    <% end %>
  </div>
</nav>
