<nav class="nav">
  <a href="#"><%= t('nav.accueil') %></a>
  <a href="#"><%= t('nav.se_loger') %></a>
  <a href="#"><%= t('nav.alentours') %></a>
  <a href="#"><%= t('nav.contact') %></a>
  <%= render 'shared/lang_nav' %>
</nav>
