<nav class="nav">
  <div>
    <%= link_to t('links.home'), root_path %>
    <%= link_to t('links.se_loger'), holiday_rentings_path %>
    <%= link_to t('links.alentours'), alentours_path %>
    <%= link_to t('links.contact'), contact_path %>
  </div>
  <%= render 'shared/lang_nav' %>
</nav>
