<ul data-target="form.cart">
  <% items.each do |item| %>
    <% if item["sub_total"]["cents"] != 0 %>
      <li>
          <%= link_to view_cart_commerce_product_cart_items_path(@commerce, @commerce.products.find_by(name: item["name"]), :action_link => "minus"), remote: true do %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
          <p class="price"><%= item["quantity"] %> x <%= item["name"] %> : <%= humanized_money Money.new(item["sub_total"]["cents"]).round(2) %> €</p>
          <%= link_to view_cart_commerce_product_cart_items_path(@commerce, @commerce.products.find_by(name: item["name"]), :action_link => "plus"), remote: true do %>
            <i class="fas fa-plus-circle"></i>
          <% end %>
      </li>
      <% end %>
  <% end %>
</ul>
<p class="price">Total : <%= humanized_money subtotal %><span><%= subtotal.currency.symbol %></span></p>
