<% products.each do |product| %>
<li class="list-group-item" data-controller="form" data-available=<%=product.availability.select {|k,v| v == true}.keys.to_json %> >
  <div>
  <div>
    <h2><%= product.name.capitalize %></h2>
    <p class="price pricing" data-price="<%= product.price.cents.to_i/100.0 %>">Prix : <%= humanized_money product.price %><span><%= product.price.currency.symbol %></span></p>
    <p class="description">ezfnejzgoezbgjzbgjbzghbh jgbejkzbgjkbzjkgbezakjbg bgezbgbzekjgbakzb</p>

    <div class="availabilities">
      <h3>Le produit est disponible le :</h3>
      <ul>
        <% ["lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche" ].each do |day| %>
          <li class="available-day <%= product.availability[day] %>"><%= day%></li>
        <% end %>
      </ul>
    </div>
    <%= simple_form_for([@commerce, product, @cart_item], data: { action: 'ajax:success->form#addItem' }, remote: true) do |f| %>


  </div>

  <div class="visuel">
    <%= image_tag product.photo, width:150 if product.photo.attached? %>
    <div class="qty-control">
      <a href="#" id="minus" data-action="click->form#linkDisabled"><i class="fas fa-minus-circle"></i></a>
      <%= f.input :quantity, label: false, input_html: {value: '0', size: 3} %>
      <a href="#" id="plus" data-action="click->form#linkDisabled"><i class="fas fa-plus-circle"></i></a>
    </div>
    <p class="price"><span class="sumproduct" data-form-target="sumproduct">0.00</span><span><%= product.price.currency.symbol %></span></p>
  </div>
  </div>
  <div class="send-product">
    <%= f.submit class: "btn btn-green beige auto", value: "Ajouter au panier" %>
  </div>

    <% end %>
  <span class="unavailable">produit indisponible</span>
</li>
<% end %>
