<h1>Commerces#edit</h1>
<p>Find me in app/views/commerces/edit.html.erb</p>

<%= form_for(@commerce) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.submit %>
<% end %>
