<main>
  <article>
    <h1>Commandes</h1>
    <h2>Commerce : <%= @commerce.name %></h2>

    <table>
        <thead>
          <tr>
              <th colspan="">Date de livraison</th>
              <th colspan="">Date de commande</th>
              <th colspan="">Commande</th>
              <th colspan="">Montant</th>
              <th colspan="">Nom</th>
              <th colspan="">Prénom</th>
              <th colspan="">Tel</th>
              <th colspan="">Email</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
                <td><%= order.delivery_date %></td>
                <td><%= order.created_at %></td>
                <td>
                  <ul>
                    <% order.cart_items.each do |item| %>
                      <li><%= item.quantity %> x <%= item.product.name %></li>
                    <% end %>
                  </ul>
                </td>
                <td><%= order.amount %><%= order.amount.currency.symbol %></td>
                <td><%= order.last_name %></td>
                <td><%= order.first_name %></td>
                <td><%= order.tel %></td>
                <td><%= order.email %></td>
            </tr>
          <% end %>
        </tbody>
    </table>

    <br><br>

    <table>
        <thead>
          <tr>
              <th colspan="">Date de livraison</th>
              <th colspan="">Date de commande</th>
              <th colspan="">Commande</th>
              <th colspan="">Montant</th>
              <th colspan="">Nom</th>
              <th colspan="">Prénom</th>
              <th colspan="">Tel</th>
              <th colspan="">Email</th>
          </tr>
        </thead>
        <tbody>
          <% @order_by_delivery_date.keys.compact.sort.each do |key| %>
            <% @order_by_delivery_date[key].each do |order| %>
              <tr>
                  <td><%= order.delivery_date %></td>
                  <td><%= order.created_at %></td>
                  <td>
                    <ul>
                      <% order.cart_items.each do |item| %>
                        <li><%= item.quantity %> x <%= item.product.name %></li>
                      <% end %>
                    </ul>
                  </td>
                  <td><%= order.amount %><%= order.amount.currency.symbol %></td>
                  <td><%= order.last_name %></td>
                  <td><%= order.first_name %></td>
                  <td><%= order.tel %></td>
                  <td><%= order.email %></td>
              </tr>
            <% end %>
            <tr style="height: 1em;">
            </tr>
          <% end %>
        </tbody>
    </table>
  </article>
</main>
