<main id="commerce">
  <article>
    <header>
      <div>
        <h1><%= @commerce.name %></h1>
        <!--
          <div>
            <div>
              <a href=""><i class="fas fa-phone"><p>Appeler</p></i></a>
            </div>
            <div>
              <a href=""><i class="fas fa-map-marker-alt"><p>Lancer l'itinéraire</p></i></a>
            </div>
          </div>
        -->
      </div>
    </header>
    <%= link_to "Commerces", commerces_path %>
      <%= link_to "Nouveau Produit",new_commerce_product_path(@commerce) %>

      <section class="flex" data-controller="form" data-content-loader-url="<%= request.path %>" >
        <div>
          <div class="dates-select">
          <h2>Chosir une date de commande :</h2>
          <input data-controller="form" data-action="input->form#dateInput" data-form-target="dateinput" id="date" type="date" value=<%= DateTime.now.next_day.strftime("%Y-%m-%d") %> required="required" >
          </div>
          <div>
            <div class="tabs">

            <input type="radio" name="tabs" id="tab1" checked="checked">
            <label for="tab1">Tous</label>
            <div class="tab">
              <ul class="list-group">
                <%= render partial: "commerce_content", locals: {products: @commerce.products} %>
              </ul>
            </div>

            <input type="radio" name="tabs" id="tab2">
            <label for="tab2">Pain</label>
            <div class="tab">
              <ul class="list-group">
                <%= render partial: "commerce_content", locals: {products: @commerce.products.where(category:"pain")} %>
              </ul>
            </div>

            <input type="radio" name="tabs" id="tab3">
            <label for="tab3">Viennoiserie</label>
            <div class="tab">
              <ul class="list-group">
                <%= render partial: "commerce_content", locals: {products: @commerce.products.where(category:"viennoiserie")} %>
              </ul>
            </div>

            <input type="radio" name="tabs" id="tab4">
            <label for="tab4">Pâtisserie</label>
            <div class="tab">
              <ul class="list-group">
                <%= render partial: "commerce_content", locals: {products: @commerce.products.where(category:"pâtisserie")} %>
              </ul>
            </div>
          </div>
          </div>
        </div>


        <div class="cart" data-controller="form">
          <h2 class="panier" data-action="click->form#deploy">Mon panier</h2>
          <aside class="" data-form-target="todeploy">
            <div>

            <div id="insert-cart">
              <%= render partial: "cart", locals: {items: session[:cart][@commerce.slug], subtotal: @subtotal} %>
            </div>
            <hr>
            <h2>Mes coordonnées</h2>
            <p id="deliverydate"></p>
            <%= simple_form_for @order do |f| %>
              <%= hidden_field_tag 'commerce_id', @commerce.slug %>
              <%= hidden_field_tag :delivery_date %>
              <%= f.input :last_name, placeholder: "Nom*", label: false, input_html: { "data-form-target" => "content" }, required:true %>
               <%= f.input :first_name, placeholder: "Prénom*", label: false, input_html: { "data-form-target" => "content" }, required:true %>
              <%= f.input :tel, placeholder: "Tel*", label: false, input_html: { "data-form-target" => "content" }, required:true %>
              <%= f.input :email, placeholder: "Email", label: false, input_html: {} %>
              <%= f.input :rgpd, label:"J'accepte que mes coordonnées soient utilisées dans le cadre de ma commande. Ces informations ne seront pas conservées et ne serviront qu'à répondre à votre demande.",:input_html => { :checked => "" }, required:true %>
              <br>
              <%= f.submit 'Envoyer la commande', class: 'btn btn-green beige auto', data: { action: "form#submitForm" } %>
            <% end %>
            </div>
          </aside>
        </div>

      </section>
  </article>
</main>

<%= javascript_pack_tag "sweetalert" %>
<script type="text/javascript">
  (function()
    {
      if( window.localStorage )
      {
        if( !localStorage.getItem('firstLoad') )
        {
          localStorage['firstLoad'] = true;
          window.location.reload();
        }
        else
          localStorage.removeItem('firstLoad');
      }
    })();
</script>
