<h1>Commerces#show</h1>
<%= link_to "Commerces", commerces_path %>
<p>Find me in app/views/commerces/show.html.erb</p>
<%= @commerce.name %>

<ul class="list-group">

  <% @commerce.products.each do |product| %>
    <li class="list-group-item"><%= product.name %>
      <%= image_tag product.photo, width:150 if product.photo.attached? %>
      <%= simple_form_for [@commerce, product, @cart_item] do |f| %>
        <%= f.input :quantity %>
        <%= f.submit class: "btn btn-green auto", value: "Ajouter au panier" %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Cart Items</h2>
<ul>
  <%= session[:cart] %>
</ul>
<ul>
  <li>
    <% session[:cart][params[:id]].each do |item| %>
    <p><%= item["quantity"] %> x <%= item["name"] %></p>
    <p><%= humanized_money Money.new(item["sub_total"]["cents"]).round(2) %> €</p>
    <% end %>
  </li>
</ul>

<%= form_tag orders_path do %>

  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
