<main id="commerce">
  <article>
    <h1><%= @commerce.name %></h1>
    <%= session[:cart] %>
    <%= link_to "Commerces", commerces_path %>
    <p>Find me in app/views/commerces/show.html.erb</p>
    <section>
      <ul class="list-group">

        <% @commerce.products.each do |product| %>
          <li class="list-group-item">
            <div>
              <h2><%= product.name.capitalize %></h2>
              <p class="description">ezfnejzgoezbgjzbgjbzghbh jgbejkzbgjkbzjkgbezakjbg bgezbgbzekjgbakzb</p>
              <p class="price"><%= humanized_money product.price %><label for=""><%= product.price.currency.symbol %></label></p>
              <%= simple_form_for [@commerce, product, @cart_item] do |f| %>
                <%= f.input :quantity, label: false, input_html: {value: '0'} %>
                <%= f.submit class: "btn btn-green auto", value: "Ajouter au panier" %>
              <% end %>

            </div>
            <%= image_tag product.photo, width:150 if product.photo.attached? %>
          </li>
        <% end %>

      </ul>
      <aside class="cart" data-controller="form">
        <h2>Panier</h2>
        <ul>
            <% session[:cart][params[:id]].each do |item| %>
              <% if item["sub_total"]["cents"] != 0 %>
                <li class="price"><%= item["quantity"] %> x <%= item["name"] %> : <%= humanized_money Money.new(item["sub_total"]["cents"]).round(2) %> €</li>

                <%= link_to add_to_cart_commerce_product_cart_items_path(@commerce, @commerce.products.find_by(name:item["name"]), item) do %>
                  <i class="fas fa-plus-circle"></i>
                <% end %>
                <%= link_to remove_to_cart_commerce_product_cart_items_path(@commerce, @commerce.products.find_by(name:item["name"]), item) do %>
                  <i class="fas fa-minus-circle"></i>
                <% end %>
              <% end %>
            <% end %>
        </ul>
        <p>Total : </p>
        <%= simple_form_for @order do |f| %>
          <%= hidden_field_tag 'commerce_id', @commerce.id %>
          <%= f.date_field :delivery_date, input_html: { "data-form-target" => "content" } %>
          <%= f.input :first_name, placeholder: "Prénom", input_html: { "data-form-target" => "content" } %>
          <%= f.input :last_name, placeholder: "Nom", input_html: { "data-form-target" => "content" } %>
          <%= f.input :tel, placeholder: "Tel", input_html: { "data-form-target" => "content" } %>
          <%= f.input :email, placeholder: "Email", input_html: { "data-form-target" => "content" } %>
          <%= f.input :rgpd, label:"J'accepte que mes coordonnées soient utilisées dans le cadre de ma commande. Ces informations ne seront pas conservées et ne serviront qu'à répondre à votre demande.",input_html: { "data-form-target" => "content" } %>
          <br>
          <%= f.submit 'Envoyer la commande', class: 'btn btn-green auto', data: { action: "form#submitForm" } %>
        <% end %>
      </aside>
    </section>
  </article>
</main>
