<main id="commerce">
  <article>
    <h1><%= @commerce.name %></h1>
    <%= session[:cart] %>
    <% Order.last.cart_items.each do |item| %>
    <p><%= item.product.name %> <%= item.quantity %></p>
    <% end %>
    <%= link_to "Commerces", commerces_path %>
    <%= link_to "Nouveau Produit",new_commerce_product_path(@commerce) %>
    <p>Find me in app/views/commerces/show.html.erb</p>
    <section>

      <ul class="list-group">
        <div>
          <h2>Chosir une date :</h2>
          <input data-controller="form" data-action="input->form#dateInput" data-form-target="dateinput" id="date" type="date" value=<%= DateTime.now.next_day.strftime("%Y-%m-%d") %> required="required" >
        </div>
        <% @commerce.products.each do |product| %>
          <li class="list-group-item">
            <div data-controller="form">
              <h2><%= product.name.capitalize %></h2>
              <p class="description">ezfnejzgoezbgjzbgjbzghbh jgbejkzbgjkbzjkgbezakjbg bgezbgbzekjgbakzb</p>
              <p class="price" data-price="<%= product.price.cents.to_i/100.0 %>"><%= humanized_money product.price %><label for=""><%= product.price.currency.symbol %></label></p>
              <%= simple_form_for [@commerce, product, @cart_item] do |f| %>
                <div>
                  <a href="#" id="plus" data-action="click->form#linkDisabled"><i class="fas fa-plus-circle"></i></a>
                  <%= f.input :quantity, label: false, input_html: {value: '0', size: 3} %>
                  <a href="#" id="minus" data-action="click->form#linkDisabled"><i class="fas fa-minus-circle"></i></a>
                </div>
                <h3>Le produit est disponible le :</h3>
                <ul>
                  <% ["lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche" ].each do |day| %>
                    <li class="available-day <%= product.availability[day] %>"><%= day%></li>
                  <% end %>
                </ul>

                <%= f.submit class: "btn btn-green beige auto", value: "Ajouter au panier" %>
                <%= link_to "edit", edit_commerce_product_path(@commerce, product) %>
              <% end %>

            </div>
            <%= image_tag product.photo, width:150 if product.photo.attached? %>
          </li>
        <% end %>

      </ul>
      <aside class="cart" data-controller="form">
        <div>
          <h2>Mon panier</h2>
          <ul>
            <% session[:cart][params[:id]].each do |item| %>
              <% if item["sub_total"]["cents"] != 0 %>
              <li>
                <%= link_to add_to_cart_commerce_product_cart_items_path(@commerce, @commerce.products.find_by(name:item["name"]), item) do %>
                    <i class="fas fa-plus-circle"></i>
                  <% end %>
                  <p class="price"><%= item["quantity"] %> x <%= item["name"] %> : <%= humanized_money Money.new(item["sub_total"]["cents"]).round(2) %> €</p>
                  <%= link_to remove_to_cart_commerce_product_cart_items_path(@commerce, @commerce.products.find_by(name:item["name"]), item) do %>
                    <i class="fas fa-minus-circle"></i>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <p>Total : </p>
          <hr>
          <h2>Mes coordonnées</h2>
          <%= simple_form_for @order do |f| %>
            <%= hidden_field_tag 'commerce_id', @commerce.id %>
            <%= hidden_field_tag :delivery_date %>
            <%= f.input :first_name, placeholder: "Prénom*", label: false, input_html: { "data-form-target" => "content" }, required:true %>
            <%= f.input :last_name, placeholder: "Nom*", label: false, input_html: { "data-form-target" => "content" }, required:true %>
            <%= f.input :tel, placeholder: "Tel*", label: false, input_html: { "data-form-target" => "content" }, required:true %>
            <%= f.input :email, placeholder: "Email", label: false, input_html: {} %>
            <%= f.input :rgpd, label:"J'accepte que mes coordonnées soient utilisées dans le cadre de ma commande. Ces informations ne seront pas conservées et ne serviront qu'à répondre à votre demande.",:input_html => { :checked => "" }, required:true %>
            <br>
            <%= f.submit 'Envoyer la commande', class: 'btn btn-green beige auto', data: { action: "form#submitForm" } %>
          <% end %>
        </div>
      </aside>
    </section>
  </article>
</main>
