<h1>Commerces#show</h1>
<p>Find me in app/views/commerces/show.html.erb</p>
<%= @commerce.name %>

<ul class="list-group">

  <% @commerce.products.each do |product| %>
    <li class="list-group-item"><%= product.name %></li>
    <%= simple_form_for [@commerce, product, @cart_item] do |f| %>
      <%= f.input :quantity %>
      <%= f.submit %>
    <% end %>
  <% end %>
</ul>

<h2>Cart Items</h2>
<ul>
  <% fail %>

</ul>
