<section id="taxe-invoice">
    <div id="facture">
      <div class="coordonnees">
        <div class="etablishment">
          <p>Etablissement : <%= @datas[:renting_name]  if !@datas[:renting_name].blank? %></p>
          <p>Adresse: <%= @datas[:renting_address] if !@datas[:renting_address].blank? %></p>
          <p><%= @datas[:renting_zipcode] if !@datas[:renting_zipcode].blank? %></p>
          <p><%= @datas[:renting_town] %></p>
        </div>
        <div class="customer">
          <p>Nom: <%= @datas[:client_name] if !@datas[:client_name].blank? %></p>
          <p>Adresse: <%= @datas[:client_address] if !@datas[:client_address].blank? %></p>
          <p><%= @datas[:client_zipcode] if !@datas[:client_zipcode].blank? %></p>
          <p><%= @datas[:client_town] if !@datas[:client_town].blank? %></p>
        </div>
      </div>
      <p class="" style="text-align: right; margin-top: 1.5em;"><%= Time.now.strftime("%d/%m/%Y") %></p>
      <h2>Facture n° <%= @datas[:invoice_number] if !@datas[:invoice_number].blank? %></h2>
      <div class="details">
        <div>
          <p>Montant du séjour :</p><p><%= sprintf("%.2f",@amount.to_f) %> €</p>
        </div>
        <% if !@options.nil? %>
          <div class="options-list">
            <p>Options lors du séjour:</p>
            <ul>
              <% @options.each do |key, value| %>
                <li>- <%= key.capitalize %>: <span class="price-option"><%= sprintf("%.2f",value.to_f) %> €</span></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if !params[:result_invoice][0][:start_date].blank? && !params[:result_invoice][0][:end_date].blank? %>
          <div>
            <p>Séjour du :<%= Date.parse(params[:result_invoice][0][:start_date]).strftime("%d/%m/%Y") %> au: <%= Date.parse(params[:result_invoice][0][:end_date]).strftime("%d/%m/%Y") %></p>
          </div>
        <% end %>
        <div>
          <p>Nombre de nuitées :</p><p><%= @days %></p>
        </div>
        <div>
          <p>Total de personnes :</p><p><%= @people %></p>
        </div>

        <% if @minors.to_f == 0 %>
        <% else %>
          <div>
            <p>Nombre de pers. exonérées (ex: pers. mineures) :</p><p><%= @minors.to_i %></p>
          </div>
        <% end %>

        <div>
          <p>Taxe par personne (dont taxe dep. de 10%) :</p><p><%= sprintf("%.2f",@single_tax) %> €</p>
        </div>
        <div>
          <p>Détail du calcul : <%= @single_tax %> € x <%= @people.to_i - @minors.to_i %> (pers. assujetties) x <%= @days %> (jours)</p>
        </div>
        <br>
        <div class="amount-taxe">
          <p>Montant total de la taxe de séjour à verser :</p><p><b><%= sprintf("%.2f", @taxe.to_f) %> €</b></p>
        </div>
        <div class="amount-taxe total">
          <p>Montant Total du séjour :</p><p><b><%= sprintf("%.2f", @total_amount.to_f) %> €</b></p>
        </div>
        <p style="text-align: right; margin: 2em 0;">Règlement en <%= @datas[:reglement] if !@datas[:reglement].blank? %></p>
        <%= link_to 'Imprimer', 'your_link_here', :onclick => 'window.print();return false;', class: '' %>
      </div>
    </div>
  </section>
