<main id="alentours">
  <h1><%= t('alentours.title').capitalize %></h1>
  <section class="cards">
    <% @cards.each do |card| %>
      <%= link_to card[:link] do %>
        <div class="card">
          <%= image_tag("#{card[:photo]}") %>
          <div class="footer">
            <h2><%= card[:name] %></h2>
            <div class="hide-content">
              <p class="more">En savoir plus</p>
              <p class="content">
                <%= card[:description] %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</main>
<%= javascript_pack_tag "application" %>
