<% title "Pays de Niederbronn-les-Bains, la porte d'entree des vosges du nord d'Alsace" %>
<% description "" %>
<% set_meta_tags canonical: "http://www.paysniederbronn.fr" %>
<% set_meta_tags alternate: { "fr" => "http://www.paysniederbronn.fr",
                           "de" => "http://www.paysniederbronn.fr/de",
                           "en" => "http://www.paysniederbronn.fr/en"
                          } %>
<div id="home-banner">
  <div>
    <h1>Bienvenue au Pays de Niederbronn-les-Bains</h1>
    <h2>La porte d'entrée des Vosges du Nord d'Alsace</h2>
  </div>
</div>
<main id="home">
  <article>
    <section>
      <p>Bienvenu sur le portail touristique du Pays de Niederbronn et de l’Alsace du Nord avec le Parc Naturel des Vosges du Nord, son patrimoine, son folklore, ses spécialités et les caractéristiques uniques de l’Alsace.</p>
    </section>
    <section>
      <div>
        <h2><span class="pink">L’Alsace du Nord</span></h2>
        <p>Nichée au Nord Est de la France, frontalière de l’Allemagne et de la Suisse, la région d’Alsace possède un des patrimoines culturel, historique et naturel les plus riches de France offrant aux touristes une réelle expérience durant leurs séjours quelquesoit la période de l’année.</p>
      </div>
      <%= image_tag "home/jaegerthal.jpg", width: 400, height: 300, crop: :fill %>
    </section>
    <section>
      <div>
        <h2><span class="green">Le Parc Naturel des Vosges du Nord</span></h2>
        <p>Nichée au Nord Est de la France, frontalière de l’Allemagne et de la Suisse, la région d’Alsace possède un des patrimoines culturel, historique et naturel les plus riches de France offrant aux touristes une réelle expérience durant leurs séjours quelquesoit la période de l’année.</p>
        <%= link_to "En savoir plus", '' %>
      </div>
      <%= image_tag "home/chateau_schoeneck.jpg", width: 400, height: 300, crop: :fill %>
    </section>
    <section>
      <div>
        <h2><span>Le Thermalisme</span></h2>
        <p>Avec pas moins de deux stations thermales spécialisées dans la rhumathologie, les stations thermales de Niederbronn-les-Bains et de Morsbronn-les-Bains seront les lieux idéals pour apporter les soins.</p>
        <%= link_to "En savoir plus sur les cures thermales", '' %>
      </div>
      <%= image_tag "home/thermes.jpg", width: 400, height: 300, crop: :fill %>
    </section>
    <section>
      <div>
        <h2><span>Les marchés de Noël</span></h2>
        <p>fyvyvfevyevaur</p>
      </div>
    </section>
  </article>
</main>
<%= link_to 'Four à chaux', four_a_chaux_lembach_path %>
<%= link_to 'Simulateur Taxe de sejour', simulateur_path %>
<%= link_to 'Meublés Heidelbeere', sub_heidelbeere_url %>
