<main id="simulator">
  <article>
    <header>
      <h1>Simulateur Taxe de sejour</h1>
    </header>
    <section>
      <p><%= @taxes["niederbronn"] %></p>
      <div>
        <%= simple_form_for :anything, :url => result_path, :method => :post do |f| %>
          <%= f.input :amount, :input_html => { :type => "number" } %>
          <%= f.input :days, :input_html => { :type => "number" } %>
          <%= f.input :people, :input_html => { :type => "number" } %>
          <%= f.input :minors, :input_html => { :type => "number" } %>
          <%= f.submit  %>
        <% end  %>
      </div>
    </section>
  </article>
</main>

