<main id="simulator">
  <article>
    <header>
      <h1>Simulateur Taxe de sejour</h1>
    </header>
    <section id="calcul">
      <%= simple_form_for :taxe_sejour, :url => result_path, :method => :post do |f| %>
        <%= f.input :amount, :input_html => { :type => "number" }, label: "Montant total du séjour :", :required => false %>
        <%= f.input :days, :input_html => { :type => "number" }, label: "Durée du séjour :", :required => false %>
        <%= f.input :people, :input_html => { :type => "number" }, label: "Total personnes :", :required => false %>
        <%= f.input :minors, :input_html => { :type => "number" }, label: "Pers. non assujetties (ex: mineurs) :", :required => false %>
        <%= f.button :submit, value: "Calculer" %>
        <p>Comm Comm Niederbronn</p>
      <% end  %>
    </section>
    <section id="results">
      <div class="simulator-datas">
        <p>Montant: <%= params[:results].first[:amount] %> €</p>
        <p>Durée: <%= params[:results].first[:days] %> jours</p>
        <p>Nbre total de personnes: <%= params[:results].first[:people] %></p>
        <p>Personnes non assujettis: <%= params[:results].first[:minors] %></p>
      </div>
      <div class="tableau-simulator">

        <table>
         <tr>
           <th>Classement - Niederbron</th>
           <td>NC</td>
           <td><% 1.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 2.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 3.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 4.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 5.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
         </tr>
         <tr>
           <th>Montant total pour meublé de tourisme</th>
           <% if @taxes_sejour != nil %>
            <% @taxes_sejour.each do |taxe| %>
              <td><%= taxe %> €</td>
            <% end %>
           <% else %>
            <% 6.times do %>
              <td>0.00 €</td>
            <% end %>
           <% end %>
         </tr>
        </table>
      </div>
    </section>
    <section id="results-town">
      <h2>Comparatif avec d'autres villes</h2>
      <div class="prison">
        <% @hash_town.each do |key, value| %>
          <div class="tableau-simulator towns">
            <table>
             <tr>
               <th>Classement - <%= "#{key.capitalize}" %></th>
               <td>NC</td>
               <td><% 1.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
               <td><% 2.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
               <td><% 3.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
               <td><% 4.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
               <td><% 5.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
             </tr>
             <tr>
               <th>Montant total pour meublé de tourisme</th>
               <% if value != nil %>
                <% value.each do |taxe| %>
                  <td><%= taxe %> €</td>
                <% end %>
               <% else %>
                <% 6.times do %>
                  <td>0.00 €</td>
                <% end %>
               <% end %>
             </tr>
            </table>
          </div>
        <% end %>
      </div>
    </section>

  </article>
</main>


