<main id="simulator">
  <article>
    <header>
      <h1>Simulateur Taxe de sejour</h1>
    </header>
    <section id="calcul">
      <p><%= @taxes %></p>
      <div>
        <%= simple_form_for :taxe_sejour, :url => result_path, :method => :post do |f| %>
          <%= f.input :amount, :input_html => { :type => "number" } %>
          <%= f.input :days, :input_html => { :type => "number" } %>
          <%= f.input :people, :input_html => { :type => "number" } %>
          <%= f.input :minors, :input_html => { :type => "number" } %>
          <%= f.submit  %>
        <% end  %>
      </div>
    </section>
    <section id="results">
      <div class="tableau">
        <div class="entete">
          <p>Classement</p>
          <p>NC</p>
          <p><% 1.times do %><%= image_tag("star.png", size: "18x18") %><% end %></p>
          <p><% 2.times do %><%= image_tag("star.png", size: "18x18") %><% end %></p>
          <p><% 3.times do %><%= image_tag("star.png", size: "18x18") %><% end %></p>
          <p><% 4.times do %><%= image_tag("star.png", size: "18x18") %><% end %></p>
          <p><% 5.times do %><%= image_tag("star.png", size: "18x18") %><% end %></p>
        </div>
        <div class="results">
          <p>Montant</p>
          <p><%= @result_nc %> €</p>
          <p><%= @one %> €</p>
          <p><%= @two %> €</p>
          <p><%= @three %> €</p>
          <p><%= @four %> €</p>
          <p><%= @five %> €</p>
        </div>
      </div>
    </section>
  </article>
</main>


