<main id="simulator">
  <article>
    <header>
      <h1>Simulateur Taxe de sejour</h1>
    </header>
    <section>
      <p><%= @taxes["niederbronn"] %></p>
      <div>
        <%= simple_form_for @result do |f| %>
          <%= f.input :amount %>
          <%= f.input :days %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </section>
  </article>
</main>

