<% title "Simulateur de taxe de séjour pour le Pays de Niederbronn les Bains" %>
<% description "Simuler et comparer le montant de la taxe de séjour à appliquer selon votre classement et comparer avec celle des autres communes d'alsace" %>
<% set_meta_tags canonical: "https://www.paysniederbronn.fr/fr/simulateur" %>
<main id="simulator">
  <article>
    <h1>Simulateur Taxe de séjour</h1>
    <section class="calcul">
      <%= simple_form_for :taxe_sejour, :url => result_path, :method => :post do |f| %>
        <%= f.input :amount, :input_html => { :type => "number" }, label: "Montant total du séjour :", :required => false %>
        <%= f.input :days, :input_html => { :type => "number" }, label: "Durée du séjour :", :required => false %>
        <%= f.input :people, :input_html => { :type => "number" }, label: "Total personnes :", :required => false %>
        <%= f.input :minors, :input_html => { :type => "number" }, label: "Pers. non assujetties (ex: mineurs) :", :required => false %>
        <%= f.button :submit, value: "Calculer", class: "btn-green" %>
        <h2>Comm Comm de Niederbronn-les-Bain | 2019</h2>
      <% end  %>
    </section>
    <section id="results">
      <div class="simulator-datas">
        <% if params[:results].present? %>
          <p>Montant: <%= params[:results].first[:amount] %> €</p>
          <p>Durée: <%= params[:results].first[:days] %> jours</p>
          <p>Nbre total de personnes: <%= params[:results].first[:people] %></p>
          <p>Personnes non assujettis: <%= params[:results].first[:minors] %></p>
        <% end %>
      </div>
      <div class="tableau-simulator">

        <table>
         <tr>
           <th>Classement - Niederbronn</th>
           <td>NC</td>
           <td><% 1.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 2.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 3.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 4.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
           <td><% 5.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
         </tr>
         <tr>
           <th>Montant total pour meublé de tourisme</th>
           <% if @taxes_sejour != nil %>
            <% @taxes_sejour.each do |taxe| %>
              <td><%= taxe %> €</td>
            <% end %>
           <% else %>
            <% 6.times do %>
              <td>0.00 €</td>
            <% end %>
           <% end %>
         </tr>
        </table>
      </div>
    </section>
    <section id="results-town">
      <% if !@hash_town.nil? %>
        <h2>Comparatif avec d'autres villes d'Alsace</h2>
        <div class="prison">

            <% @hash_town.each do |key, value| %>
              <div class="tableau-simulator towns">
                <table>
                 <tr>
                   <th>Classement - <%= "#{key.capitalize}" %></th>
                   <td>NC</td>
                   <td><% 1.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
                   <td><% 2.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
                   <td><% 3.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
                   <td><% 4.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
                   <td><% 5.times do %><%= image_tag("star.png", size: "18x18") %><% end %></td>
                 </tr>
                 <tr>
                   <th>Montant total pour meublé de tourisme</th>
                   <% if value != nil %>
                    <% value.each do |taxe| %>
                      <td><%= taxe %> €</td>
                    <% end %>
                   <% else %>
                    <% 6.times do %>
                      <td>0.00 €</td>
                    <% end %>
                   <% end %>
                 </tr>
                </table>
              </div>
            <% end %>
        </div>
      <% end %>
    </section>
  </article>
</main>


