<h1>Créer une facture de taxe de séjour pour meublé de tourisme</h1>
<section id="calcul">
  <%= simple_form_for :taxe_sejour, :url => taxe_facture_path, :method => :post do |f| %>
    <%= f.input :town, collection: [ "Niederbronn", "Morsbronn", "Wissembourg" ], selected: "Niederbronn", required: false, label: "Communauté de commune" %>
    <%= f.input :rating, :input_html => { :type => "string" }, collection: [ "non classé", "1", "2", "3", "4", "5" ], selected: "Niederbronn", required: false, label: "Classement en étoile" %>
    <%= f.input :amount, :input_html => { :type => "number" }, label: "Montant total du séjour :", :required => false %>
    <%= f.input :days, :input_html => { :type => "number" }, label: "Durée du séjour :", :required => false %>
    <%= f.input :people, :input_html => { :type => "number" }, label: "Total personnes :", :required => false %>
    <%= f.input :minors, :input_html => { :type => "number" }, label: "Pers. non assujetties (ex: mineurs) :", :required => false %>
    <%= f.button :submit, value: "Calculer" %>
    <h2>Formulaire de facturation pour taxe de séjour | 2019</h2>
  <% end  %>
</section>
<% if @taxe != "0.0" %>
<section id="taxe-invoice">
  <h2>Facture</h2>
  <div>
    <p>Montant du séjour: <%= @amount.to_f %> €</p>
    <p>Nombre de jours: <%= @days %></p>
    <p>Montant total de la taxe de séjour à verser: <%= @taxe.to_f %> €</p>
  </div>
</section>
<% else %>
<% end %>
