<h1>Disponibilités</h1>
<p><%= @name %></p>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>

<%= month_calendar attribute: :start_time, end_attribute: :end_date do |date| %>
  <%= date.day %>
  <% @dates.each do |date_day| %>
    <% if Date.strptime(date_day) == date %>
      <p>bloqué</p>
    <% end %>
  <% end %>
<% end %>


