<h1>Disponibilités</h1>
<p><%= @name %></p>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date.day %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.id %>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>


