<main>
  <h1>Disponibilités</h1>

  <h2>Disponibilités de l'appartement</h2>
  <%= month_calendar attribute: :start_time, end_attribute: :end_date do |date| %>
    <span class="date" data-day='<%= date %>'><%= date.day %></span>
    <% @dates_grenier.each do |date_day| %>
      <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
        <span class="blocked"></span>
      <% end %>
    <% end %>
  <% end %>


  <h2>Disponibilités du Studio</h2>
  <%= month_calendar attribute: :start_time, end_attribute: :end_date do |date| %>
    <span class="date"><%= date.day %></span>
    <% @dates_studio.each do |date_day| %>
      <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
        <span class="blocked"></span>
      <% end %>
    <% end %>
  <% end %>

<h2><%= @dates_studio.size %></h2>
<h2><%= @dates_grenier.size %></h2>
<span id="today" today='<%= DateTime.now.to_date %>'></span>
</main>
<%= javascript_pack_tag "blockedDates" %>



