<h1>Disponibilités</h1>
<p><%= @name %></p>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>

<%= month_calendar events: @meetings, attribute: :start_time, end_attribute: :end_date do |date, meetings| %>
  <%= date.day %>
  <% fail %>
  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>


