<main>
  <% if params[:action] == "edit" %>
    <h1>Modifier votre location de vacances</h1>
  <% else %>
    <h1>Ajouter votre location de vacances</h1>
  <% end %>
  <section class="form-create">
    <%= simple_form_for @annonce do |f| %>
      <div class="first">
        <%= f.input :titre, label: "Titre de l'annonce" %>
        <%= f.rich_text_area :description %>
      </div>
      <div class="second">
        <%= f.input :tel, label: "N° de telephone" %>
        <%= f.input :email, label: "Email" %>
      </div>
      <div class="second">
        <%= f.input :address, label: "Adresse de la location" %>
        <div class="city">
          <%= f.input :city, label: "Ville" %>
          <%= f.input :zip_code, label: "Code Postal" %>
        </div>
      </div>
      <div class="third">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>

      <div class="third photos">
      <% if params[:action] == "edit" %>
        <ul>
          <% @annonce.photos.each do |photo| %>
            <li>
              <%= image_tag(photo) %>
              <button class="btn btn-green">Supprimer</button>
            </li>
          <% end %>
        </ul>
      <% end %>
      </div>

      <div class="third">
        <%= f.input :website %>
      </div>
      <div class="third options">
        <label for="">Catégorie d'hébergement</label>
        <%= f.input :category, :collection => ["Gîte","Appartement","Studio", "Camping", "Hébergement insolite", "Chambre d'hôte", "Chambre chez l'habitant"], :prompt => "Choisir une catégorie d'hébergement", label: false %>
        <br>
        <label>Hébergement prévu pour :</label>
        <%= f.association :renting_categories, as: :check_boxes %>
      </div>

      <div class="third">
        <%= f.input :airbnb %>
      </div>
      <%= f.button :submit, value: "Confirmer", class: "btn-green large" %>
    <% end %>
  </section>
</main>
<script type="text/javascript">

let buttons = document.querySelectorAll(".checkbox > label");
  buttons.forEach((element) => {
    if (element.firstElementChild.checked) {
      element.parentElement.classList.add("active");
    }
    element.addEventListener("change", (event) => {
      if ( event.target.checked ) {
        event.currentTarget.parentElement.classList.add("active");
      }
      else {
        event.currentTarget.parentElement.classList.remove("active");
      }
    });
  });

</script>
