<% @annonces.each do |annonce| %>
  <%= link_to annonce do %>
    <div class="card-trip shadow">
      <%= image_tag annonce.photos[0] %>
      <div class="card-trip-infos">
        <div>
          <h2><%= annonce.titre %></h2>
          <p><%= annonce.description.to_plain_text.truncate(120, omission:'...')%></p>
        </div>
        <p class="card-trip-pricing"><%= humanized_money annonce.price_day %> <%= annonce.price_week.currency.symbol %>/nuit<br>
          <%= humanized_money annonce.price_week %> <%= annonce.price_week.currency.symbol %>/sem.
          <% if params[:action].include?("location_cure") %>
          <br><%= humanized_money annonce.price_cure %> <%= annonce.price_cure.currency.symbol %>/3 sem.
          <% end %>
        </p>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered shadow" />
        <p class="annonce-category shadow"><%= annonce.category %> pour <%= annonce.capacity %> pers.</p>
      </div>
      <% if params[:action].include?("location_cure_niederbronn") %>
        <p class="dist-cure"><strong>Distance des thermes : <%= annonce.niederbronn_dist.round(1) %>km</strong></p>
      <% elsif params[:action].include?("location_cure_morsbronn") %>
        <p class="dist-cure"><strong>Distance des thermes : <%= annonce.morsbronn_dist.round(1) %>km</strong></p>
      <% end %>
    </div>
  <% end %>
<% end %>
