<aside class="selects-rentings">
  <%= link_to "Tous", select_rentings_path(:rent => "all"), remote: true %>
  <%= link_to "Pour curistes", cure_rentings_path(), remote: true %>
  <%= link_to "Pour les familles", family_rentings_path(), remote: true %>
  <%= link_to "Acceptent les animaux", animals_rentings_path(), remote: true %>
  <%= link_to "Grande capacité", capacity_rentings_path(), remote: true %>
  <%= link_to "Pour les chasseurs", chasse_rentings_path(), remote: true %>
  <a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red</a>
</aside>
