<main>
  <article id="send-renting">
    <h1>Demande de Réservation</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    <% !params[:contact][:start].blank? ?  start_date = params[:contact][:start] : start_date = "" %>
    <% !params[:contact][:end].blank? ? end_date = params[:contact][:end] : end_date = "" %>

    <%= simple_form_for :contact, {url: contact_rentings_path, method: "get"} do |f| %>

      <div class="contact long">
        <%= f.input :first_name, as: :string, label: "Prénom" %>
        <%= f.input :last_name, as: :string, label: "Nom" %>
      </div>

      <div class="contact long">
        <%= f.input :email, as: :email, label: "Email" %>
        <%= f.input :tel, as: :tel, label: "Tel" %>
      </div>
      <div class="contact">
        <%= f.input :address, as: :string, label: "Adresse" %>
      </div>
      <div class="contact long">
        <%= f.input :CP, as: :string, label: "Code Postal" %>
        <%= f.input :town, as: :string, label: "Ville" %>
      </div>
      <div class="contact long">
        <%= f.input :start, as: :date, placeholder: "Ajouter une date", label: 'Arrivée', required: false, html5: true, input_html: { value: start_date } %>
        <%= f.input :end, as: :date, placeholder: "Ajouter une date", label: 'Départ', required: false, html5: true, input_html: { value: end_date } %>
      </div>
      <div class="contact long">
        <%= f.input :adult, as: :integer, label: "Nombre Adultes" %>
        <%= f.input :kids, as: :integer, label: "Nombre Enfants (-18 ans)" %>
      </div>
      <div class="contact">
        <%= f.input :message, as: :text, label: "Message",:input_html => {:rows => 5} %>
      </div>
      <%= f.button :submit, "Envoyer la Demande", class: "btn btn-green" %>
    <% end %>
  </article>
</main>

