<main>
  <article id="send-renting" data-controller="form">
    <h1>Demande de Réservation</h1>
    <div class="sending-annonce shadow">
      <% annonce = Renting.find(params[:contact][:renting_id].to_i) %>
      <%= image_tag annonce.photos[0], crop: :fill %>
      <div>
        <h2><%= annonce.titre %></h2>
        <p><%= annonce.capacity %></p>
      </div>
    </div>


    <% !params[:contact][:start].blank? ?  start_date = params[:contact][:start] : start_date = "" %>
    <% !params[:contact][:end].blank? ? end_date = params[:contact][:end] : end_date = "" %>


    <%= simple_form_for :contact, { url: contact_send_rentings_path, method: "get" } do |f| %>
      <%= f.hidden_field :renting_id, :value => params[:contact][:renting_id].to_i %>

      <div class="contact long">
        <%= f.input :rgpd, as: :boolean, label: "J'accepte que mes coordonnées soient transmises dans le cadre de ma demande. Ces informations ne seront pas conservées et ne serviront qu'à répondre à votre demande.",:input_html => { :checked => "" }, required:true %>
      </div>

      <div class="contact long">
        <%= f.input :first_name, as: :string, label: "Prénom", input_html: { "data-form-target" => "content" }  %>
        <%= f.input :last_name, as: :string, label: "Nom", input_html: { "data-form-target" => "content" } %>
      </div>

      <div class="contact long">
        <%= f.input :email, as: :email, label: "Email", input_html: { "data-form-target" => "content" } %>
        <%= f.input :tel, as: :tel, label: "Tel", input_html: { "data-form-target" => "content" } %>
      </div>
      <div class="contact">
        <%= f.input :address, as: :string, label: "Adresse" %>
      </div>
      <div class="contact long">
        <%= f.input :CP, as: :string, label: "Code Postal" %>
        <%= f.input :town, as: :string, label: "Ville" %>
      </div>
      <div class="contact long">
        <%= f.input :start, as: :date, placeholder: "Ajouter une date", label: 'Arrivée', required: false, html5: true, input_html: { value: start_date, "data-form-target" => "content" } %>
        <%= f.input :end, as: :date, placeholder: "Ajouter une date", label: 'Départ', required: false, html5: true, input_html: { value: end_date, "data-form-target" => "content" } %>
      </div>
      <div class="contact long">
        <%= f.input :adult, as: :integer, label: "Nombre d'adultes" %>
        <%= f.input :kids, as: :integer, label: "Nombre d'enfants (-18 ans)" %>
      </div>
      <div class="contact">
        <%= f.input :message, as: :text, label: "Message",:input_html => {:rows => 5} %>
      </div>
      <%= f.button :submit, "Envoyer la Demande", class: "btn btn-green", data: {action: "form#submitForm"} %>
    <% end %>
  </article>
</main>

