<main id="rentings">
  <article>
    <section class="header-landing">
      <div>
        <h1>Locations de vacances en Alsace des Vosges du Nord</h1>
        <p>Trouver une <strong>location pour votre séjour dans les Vosges du Nord d'Alsace</strong>. Les hébergements proposés, de tout type et de toute surface sont idéaux pour les courts et longs séjours.<br> Situés dans ou à proximité du Parc naturel des Vosges du Nord, les <strong>hébergements</strong> permettent de se rendre rapidement aux chemins de randonnée, d'aller visiter les nombreux châteaux qui sillonnent la région ou encore les autres attraits qu'offre la <strong>région Alsace</strong>.</p>
      </div>
      <%= image_tag "schoeneck.jpg", alt: "louer une location de vacances pour visiter les Vosges du Nord d'Alsace", crop: :fill, width: 450, height: 250 %>
    </section>
    <%= render partial: 'rentings/selects' %>
    <div id="renting-map">
      <section class="cards-renting">
        <%= render partial: 'rentings/rentings', locals: {annonces: @annonces } %>
      </section>
      <section>
        <div id="map"
         style="width: 80%; height: 600px; margin: auto;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
         </div>
      </section>
    </div>
  </article>

<%= link_to 'ligne maginot', ligne_maginots_path %>

<%= link_to 'Gîte Lindauer', sub_lindauer_url %>
<%= link_to 'Meublés Heidelbeere', sub_hunckler_url %>
<%= javascript_pack_tag "map" %>
</main>

