<main class="article" itemscope itemtype="https://schema.org/Apartment https://schema.org/Product">
  <%= render "shared/gallery", collection: @annonce.photos %>
  <article>
    <h1 itemprop="name"><%= @annonce.titre %></h1>
    <div id="sub-nav">
      <ul class="scroll">
        <li><a href="#description-renting" data-controller="scroll-to">Description</a></li>
        <li><a href="#calendar-links" data-controller="scroll-to">Calendrier</a></li>
        <li><a href="#faq" data-controller="scroll-to">Questions fréquentes</a></li>
      </ul>
    </div>
    <section class="holiday">
      <div class="holiday description" id="description-renting" itemprop="description">
        <%= @annonce.description %>
      </div>
      <aside class="holiday form">
        <p>Tarif / Semaine : <%= humanized_money @annonce.price_week %> <%= @annonce.price_week.currency.symbol %></p>
        <p>Tarif / Nuit : <%= humanized_money @annonce.price_day %> <%= @annonce.price_week.currency.symbol %></p>
        <%= simple_form_for :contact, {url: contact_rentings_path, method: "get"} do |f| %>
          <%= f.hidden_field :renting_id, :value => @annonce.id %>
          <div class="dates">
            <%= f.input :start, as: :date, placeholder: "Ajouter une date", label: 'Arrivée', required: false, html5: true %>
            <%= f.input :end, as: :date, placeholder: "Ajouter une date", label: 'Départ', required: false, html5: true %>
          </div>
          <%= f.button :submit, class: "btn btn-green", value: "Faire une demande" %>
        <% end %>
      </aside>
      <aside class="holiday coordinates">
        <div><%= image_tag "icons/mob_icon.png"%><p itemprop="telephone"><%= @annonce.tel %></p></div>
        <div><%= image_tag "icons/mail_icon.png"%><p itemprop="email"><%= @annonce.email %></p></div>
        <div><%= image_tag "icons/world_icon.png"%><p>www.siteinternet.fr</p></div>
      </aside>
    </section>
    <% if !params[:start_date].nil? %>
      <% date = Date.parse(params[:start_date]) %>
      <% prev = date.last_month.beginning_of_month.strftime('%Y-%m-%d') %>
      <% nexto = date.next_month().beginning_of_month.strftime('%Y-%m-%d') %>
    <% else %>
      <% date = DateTime.now %>
      <% prev = date.last_month.beginning_of_month.strftime('%Y-%m-%d') %>
      <% nexto = date.next_month().beginning_of_month.strftime('%Y-%m-%d') %>
    <% end %>
    <aside id="calendar-links">
      <%= link_to renting_path(@annonce, start_date: prev, anchor: "calendar-links", rel: 'nofollow') do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <h2 id="dispos">Disponibilités</h2>
      <%= link_to renting_path(@annonce, start_date: nexto, anchor: "calendar-links", rel: 'nofollow') do %>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </aside>
    <section class="calendars">
      <% if !@dates_renting.nil? %>

        <%= render "shared/calendar" %>



        <%= month_calendar start_date: date.next_month() do |date| %>
          <span class="date" data-day=<%= date %>><%= date.day %></span>
          <% @dates_renting.each do |date_day| %>
            <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
              <span class="blocked"></span>
            <% end %>
          <% end %>
        <% end %>

        <%= month_calendar start_date: date.next_month(2).beginning_of_month do |date| %>
          <span class="date" data-day=<%= date %>><%= date.day %></span>
          <% @dates_renting.each do |date_day| %>
            <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
              <span class="blocked"></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </section>
    <section id="faq">
      <h2>Questions fréquentes</h2>
      <% @annonce.frequent_asks.each do |ask| %>
        <details>
          <summary><%= ask.question %></summary>
          <p><%= ask.answer %></p>
        </details>
      <% end %>
    </section>
    <section>
      <ul>
        <% @annonce.renting_categories.each do |cat| %>
          <li><%= cat.name %></li>
        <% end %>
      </ul>
    </section>
  </article>

</main>
<%= javascript_pack_tag "blockedDates" %>
