<main>
<%= render "shared/gallery", collection: @annonce.photos %>
<h1><%= @annonce.titre %></h1>
<%= @annonce.id %>
<div>
  <p><%= @annonce.description %></p>
</div>
<h2>Disponibilités</h2>
<section class="calendars">
  <% if !@annonce.airbnb.blank? %>
    <%= render "shared/calendar" %>

    <% if !params[:start_date].nil? %>
      <% date = Date.parse(params[:start_date]) %>
    <% else %>
      <% date = DateTime.now %>
    <% end %>

    <%= month_calendar start_date: date.next_month() || DateTime.now.next_month do |date| %>
      <span class="date" data-day=<%= date %>><%= date.day %></span>
      <% @dates_renting.each do |date_day| %>
        <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
          <span class="blocked"></span>
        <% end %>
      <% end %>
    <% end %>

    <%= month_calendar start_date: date.next_month(2) do |date| %>
      <span class="date" data-day=<%= date %>><%= date.day %></span>
      <% @dates_renting.each do |date_day| %>
        <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
          <span class="blocked"></span>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
</section>

</main>
<%= javascript_pack_tag "blockedDates" %>
