<main>
<%= render "shared/gallery", collection: @annonce.photos %>
<h1><%= @annonce.titre %></h1>
<%= @annonce.id %>
<div>
  <p><%= @annonce.description %></p>
</div>
<% if !@annonce.airbnb.blank? %>
  <%= render "shared/calendar" %>
<% end %>


<h2>Disponibilités</h2>
<%= month_calendar start_date: Date.parse(params[:start_date]).next_month do |date| %>
  <span class="date" data-day=<%= date %>><%= date.day %></span>
  <% @dates_renting.each do |date_day| %>
    <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
      <span class="blocked"></span>
    <% end %>
  <% end %>
<% end %>
<span id="today" data-today=<%= DateTime.now.to_date %>></span>

<hr>

<h2>Disponibilités</h2>
<%= month_calendar start_date: Date.parse(params[:start_date]).next_month(2) do |date| %>
  <span class="date" data-day=<%= date %>><%= date.day %></span>
  <% @dates_renting.each do |date_day| %>
    <% if Date.strptime(date_day) == date && DateTime.parse(date_day) > DateTime.now - 1 %>
      <span class="blocked"></span>
    <% end %>
  <% end %>
<% end %>
<span id="today" data-today=<%= DateTime.now.to_date %>></span>

</main>
<%= javascript_pack_tag "blockedDates" %>
