<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146085492-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146085492-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "" %>

    <% if @locale_url != '/' %>
      <% if locale == :fr %>
        <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr<%=@locale_url %>" />
        <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en<%=@locale_url %>" />
        <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de<%=@locale_url %>" />

      <% elsif locale == :en %>
        <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr<%=@locale_url %>" />
        <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en<%=@locale_url %>" />
        <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de<%=@locale_url %>" />

      <% elsif locale == :de %>
        <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr<%=@locale_url %>" />
        <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en<%=@locale_url %>" />
        <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de<%=@locale_url %>" />
      <% end %>
    <% end %>

    <% if @locale_url == '/' || @locale_url == "" %>
      <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr/" />
      <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de/" />
      <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en/" />
    <% end %>

    <link rel="alternate" hreflang="x-default" href="www.paysniederbronn.fr/fr/"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/mobile" %>
    </header>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
  <%= javascript_pack_tag "navbar" %>
</html>
