<!DOCTYPE html>
<html lang="<%= locale.to_s %>">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if cookies && cookies['cookie_eu_consented'] == 'true' %>
      <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
      <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-HGY5YE4XT5&amp;l=dataLayer&amp;cx=c"></script>
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-146085492-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146085492-1');
      </script>
    <% end %>

    <!-- Clarity tracking code for https://paysniederbronn.fr/ -->
    <script>
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "4ulpxcrych");
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "" %>

    <% if @locale_url != '/' %>
      <% if locale == :fr %>
        <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr<%=@locale_url %>" />
        <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en<%=@locale_url %>" />
        <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de<%=@locale_url %>" />

        <link rel="alternate" hreflang="x-default" href="www.paysniederbronn.fr/fr<%=@locale_url %>"/>

      <% elsif locale == :en %>
        <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr<%=@locale_url %>" />
        <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en<%=@locale_url %>" />
        <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de<%=@locale_url %>" />

        <link rel="alternate" hreflang="x-default" href="www.paysniederbronn.fr/fr<%=@locale_url %>"/>

      <% elsif locale == :de %>
        <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr<%=@locale_url %>" />
        <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en<%=@locale_url %>" />
        <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de<%=@locale_url %>" />

        <link rel="alternate" hreflang="x-default" href="www.paysniederbronn.fr/fr<%=@locale_url %>"/>
      <% end %>
    <% end %>

    <% if @locale_url == '/' || @locale_url == "" %>
      <link rel="alternate" hreflang="fr" href="https://www.paysniederbronn.fr/fr/" />
      <link rel="alternate" hreflang="de" href="https://www.paysniederbronn.fr/de/" />
      <link rel="alternate" hreflang="en" href="https://www.paysniederbronn.fr/en/" />

      <link rel="alternate" hreflang="x-default" href="www.paysniederbronn.fr/fr/"/>
    <% end %>


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/mobile" %>
    </header>

    <%= yield %>
    <%= render "shared/footer" %>
    <%= render 'shared/consent_banner', link: '/cookies' %>
  </body>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag "navbar" %>
</html>
